<section>
    <div class="row">
      <h2 class="section-heading">Our Services</h2>
    </div>
    <div class="row">
        <div class="column">
            <!-- <div class="card" [routerLink]="['/travels']" routerLinkActive="router-link-active"  > -->
              <div class="card" [routerLink]="['/services/travels']" routerLinkActive="router-link-active">
                <div>
                    <img style="width: 180px;" src="../../assets/travels services.png">
                  </div>
              <h3>Near by travels</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                consequatur necessitatibus eaque.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card" [routerLink]="['/services/restaurent']" routerLinkActive="router-link-active">
                <div>
                    <img style="width: 180px;" src="../../assets/food service.png">
                  </div>
              <h3>Near by Restaurants</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                consequatur necessitatibus eaque.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card" [routerLink]="['/services/education']" routerLinkActive="router-link-active">
                <div>
                    <img style="width: 180px;" src="../../assets/education service.png">
                  </div>
              <h3> Near by education</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                consequatur necessitatibus eaque.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card" [routerLink]="['/services/temples']" routerLinkActive="router-link-active">
                <div >
                    <img style="width: 180px;" src="../../assets/temples service.png">
                  </div>
              <h3>Near by Temples</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
                consequatur necessitatibus eaque.
              </p>
            </div>
          </div>
      <div class="column">
          <div class="card" [routerLink]="['/services/gymservice']" routerLinkActive="router-link-active">
            <div>
                <img style="width: 180px;" src="../../assets/gym service.png">
              </div>
          <h3>Near by Gyms</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card" [routerLink]="['/services/Hospital']" routerLinkActive="router-link-active">
            <div>
                <img style="width: 180px;" src="../../assets/hospital service.png">
              </div>
          <h3>Near by Hospitals</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column">
          <div class="card" [routerLink]="['/services/electrician']" routerLinkActive="router-link-active">
            <div >
                <img style="width: 180px;" src="../../assets/electrician-holding-plug-and-bulb-2660204-2221092.webp">
              </div>
          <h3>Near by Electrician</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column">
          <div class="card" [routerLink]="['/services/real-estate']" routerLinkActive="router-link-active">
            <div >
                <img style="width: 180px;" src="../../assets/real estate.png">
              </div>
          <h3>Near by Real-Estate</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column">
          <div class="card" [routerLink]="['/services/wedding-ceremony']" routerLinkActive="router-link-active">
            <div >
                <img style="width: 180px;" src="../../assets/weddings service.png">
              </div>
          <h3>Near by Banquet halls</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <!-- <div class="column">
        <div class="card">
          <div>
            <img src="../../assets/Nothing here.png">
          </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div>
        	<img src="../../assets/Nothing here.png">
          </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div>
       <div class="column">
        <div class="card">
            <div>
                <img src="../../assets/Nothing here.png">
              </div>
          <h3>Service Heading</h3>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam
            consequatur necessitatibus eaque.
          </p>
        </div>
      </div> -->
    </div>
  </section>