<div class="mainDiv">
    <div class="cardStyle">
        <mat-icon style="position:relative;left: 460px;" (click)="closeDialog()">close</mat-icon>

        <form (ngSubmit)="validateSignupForm()" #signupForm="ngForm">
            <img src="https://s3-us-west-2.amazonaws.com/shipsy-public-assets/shipsy/SHIPSY_LOGO_BIRD_BLUE.png"
                id="signupLogo" />
            <h2 class="formTitle">Change your accountS password</h2>
            <div class="inputDiv">
            <label class="inputLabel" for="password">Old Password</label>
            <input type="password" id="password" name="password" >
          </div>
            <div class="inputDiv">
                <label class="inputLabel" for="password">New Password</label>
                <input type="password" id="password" name="password" required [(ngModel)]="password"
                    (ngModelChange)="onPasswordChange()">
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword"
                    (ngModelChange)="onConfirmPasswordChange()">
            </div>
            <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div> <!-- Check this line -->
            <div class="buttonWrapper">
                <button type="submit" id="submitButton" [disabled]="submitDisabled"
                    class="submitButton pure-button pure-button-primary">
                    <span>Continue</span>
                    <span id="loader"></span>
                </button>
            </div>
        </form>
    </div>
</div>