.job-posting-form {
    margin-top: 50px;
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form-group textarea {
    height: 100px;
}
.create {
    margin-right: auto;
}
.form-group label {
    font-weight: bold;
}